<!DOCTYPE html>
<html lang="en">
<head>
    <title>Favourites</title>
    <meta charset="UTF-8">
    <link rel="icon" type="image/svg+xml" href="favicon.svg">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://code.jquery.com/jquery-3.6.0.slim.min.js" integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI=" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/39c8bc8c71.js"></script>
    <link rel="stylesheet" href="/css/home.css">
</head>

<body>
<div id="wrapper">
    <!-- Sidebar -->
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li><a href="/templates/home.html">Home</a></li>
            <li><a href="/templates/fav.html">Favourites</a></li>
            <li><a id="dark">Dark Mode</a></li>
            <li><a>Sign Out</a></li>
        </ul>
    </div>
    <!--put everything in newww -->
    <div id="page-content-wrapper">
        <nav class="topnav"><div class="nav-wrapper">
            <ul>
                <li><a id="menu-toggle"><i class="fas fa-align-justify"></i></a></li>
                <li><h1>TrendGetter</h1></li>
            </ul>
        </div></nav>
        <div class="newww">






        </div>
    </div>
</div>
<script type="text/javascript" src="/js/home.js"></script>
</body>
</html>
