<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SIGN_IN</title>
    <link rel="stylesheet" href="/css/sign.css">
    <meta charset="UTF-8">
    <link rel="icon" type="image/svg+xml" href="/assets/favicon.svg">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div>
    <div class="logo">
        <h1>TrendGetter</h1>
    </div>
</div>

<div class="boxing">
    <div class="form">
        <form action="/signin" class="box" method="POST">
            <div class="form-image">
                <img src="https://www.flaticon.com/svg/static/icons/svg/64/64572.svg" alt="user" width="100px" height="100px">
            </div>
            <div class="heading">
                <h1>LOGIN</h1>
            </div>
            <div class="username">
                <input name="username" type="text" id="username" autocomplete="off" placeholder="Username" required/>
            </div>
            <div class="password">
                <input name="password" type="password" id="password"  autocomplete="off" placeholder="Password" required/>
            </div>
            <div class="submit">
                <input type="submit" value="Sign in">
            </div>
        </form>
        <h3>or</h3><br/>
        <div class="linking">
            <h2><a href="/signup">Create an account</a></h2>
        </div>
    </div>
</div>
</body>
</html>
